.carousel-item {
  height: 70vh;
  background-color: black;
}

.carImg {
  height: 100%;
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
}

.carousel-intro {
  -webkit-animation: fadein 4.0s;
  animation: fadein 4.0s;
  margin-bottom: 15px;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}