.carousel-item {
  height: 100vh;
  background-color: black;
}

.centered-carousel-text {
  width: 100%;
  transform: translate(-50%,-50%);
  top: 55%; left: 50%;
}

.main-title-text {
  font-size: 10vmin;
  font-family: Times;
  letter-spacing: 0.3vw;
}

.sub-title-text {
  font-size: 3vmin;
  letter-spacing: 0.1vw;
}

#size-md, #size-xs {
  display: none
}

#size-lg {
  display: block
}

@media screen and (max-width: 1050px) {


  #size-lg, #size-xs {
    display: none
  }

  #size-md {
    display: block
  }

}

@media screen and (max-width: 501px) {
  .centered-carousel-text {
    width: 100%;
    transform: translate(-50%,-50%);
    top: 50%; left: 50%;
  }

  .centered-carousel-text {
    width: 60%;
  }

  .carousel-indicators {
    display: none;
  }

  #size-lg, #size-md {
    display: none
  }

  #size-xs {
    display: block
  }
}