.carousel-item {
  height: 100vh;
  background-color: black;
}

.carousel-intro {
  -webkit-animation: fadein 4.0s;
  animation: fadein 4.0s;
  margin-bottom: 0px;
}

.centered-carousel-text {
  width: 100%;
  transform: translate(-50%,-50%);
  top: 55%; left: 50%;
}

.main-title-text {
  font-size: 700%;
  font-family: Times;
  letter-spacing: 0.3vw;
}

.sub-title-text {
  font-size: 120
  5;
  letter-spacing: 0.1vw;
}

#size-md, #size-xs {
  display: none
}

#size-lg {
  display: block
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@media screen and (max-width: 1050px) {


  #size-lg, #size-xs {
    display: none
  }

  #size-md {
    display: block
  }


}

@media screen and (max-width: 501px) {
  .centered-carousel-text {
    width: 100%;
    transform: translate(-50%,-50%);
    top: 45%; left: 50%;
  }

  .carousel-item {
    height: 300px;
  }

  .centered-carousel-text {
    width: 60%;
  }

  .main-title-text {
    font-size: 6vw;
    font-family: Times;
    letter-spacing: 0.3vw;
  }
  
  .sub-title-text {
    font-size: 3vw;
    letter-spacing: 0.1vw;
  }

  .carousel-indicators {
    display: none;
  }

  #size-lg, #size-md {
    display: none
  }

  #size-xs {
    display: block
  }
}