.navbar {
  background-color: rgba(0, 0, 0, 0.4);
  border-color: transparent;
  margin: 0px;
  font-size: 20px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: white;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: white;
}

.logo-brand {
  height: 100%;
  margin-right: 5px;
  opacity: 1;
  color: white;
}

.brand-text {
  color: white;
  font-size: 25px;
  opacity: 1;
}

.dropdown-menu {
  min-width: 25vw;
  min-height: 20vh;
  max-height: 60vh;
  overflow: auto;
}

@media screen and (max-width: 501px) {
  .navbar {
    font-size: 15px;
  }
}

