.sidenav {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  background: #FFF;
  color:#444;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}